$backgroundColor:#fff;
$defaultTextFontSize:16px;
$textColor:#24292e;
$PfontSize:1.3rem;
$liFontSize:1.2rem;

body{
    color:$textColor;
    font-family: "Sawarabi+Gothic" 
}

a{
    text-decoration:none;
    }

p{
    font-size:$PfontSize;
}

img{
    max-width:100%;
}

li{
    list-style: none;
    font-size:$liFontSize;
}

.site-title{
    line-height:1px;
    font-weight:600;
    font-size:2.4rem;
    color:$textColor;
}

.sec-title{
    font-size:1.5rem;
    text-align:center;
    margin-bottom:65px;
}

.wrapper{
    max-width:960px;
    margin:0 auto 130px auto;
    font-size:0.9rem;
    padding: 0 4%;
}

#header{
        height:170px;
        max-width:960px;
        display:flex;
        align-items: center;
        justify-content: space-between;
        margin:0 auto;
        padding:0 4%;
        & ul{
            display:flex;
            padding:10px 0;
            align-items:center;
        }
        & li{
            font-size:0.9rem;
            margin-left:30px;
            & a{
                color:$textColor;
                transition:all 0.3s;
                &:hover{
                    opacity:0.5;
                }
            }
        }
        & .icon{
            width:25px;
        }
}

#main{
    margin-bottom:80px;
    & img{
    width:100%;
    max-width:1920px;
    height:400px;
    object-fit: cover;
    }
}

/* About */
#about{
    & ul{
        margin-bottom:30px;
        & li{
            margin-bottom:3px;
            &:nth-child(1){
                margin-bottom:30px;
                }
                
            }
        }
    }
#works{
    & ul{
        display:flex;
        flex-wrap:wrap;
        justify-content: space-between;
        margin-bottom:30px;
            & li{
                width:31%;
                margin-bottom:20px;
                    & img{
                        transition:all 0.3s;
                        &:hover{
                            transform:scale(1.2,1.2);
                            opacity: 0.7;
                            }
                        }
                }
        }
    }
/* SP */
@media screen and (max-width:600px){
    #header{
        flex-direction:column;
        height:auto;
        line-height:40px;
        margin-top: 20px;
        & li{
            font-size:0.8rem;
            justify-content: center;
            & img.icon{
                width:20px;
                    margin-top: 15px;
            }
        }
    }
    .wrapper{
        & li{
            font-size:0.9rem;    
            }
        & p{
            font-size:0.9rem;
            }
    }
    #works{
        & ul{
            flex-direction: column;
            & li{
                width:100%;
                }
            }
        }
}